@import './App.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Small utility to ensure body background and font smoothing */
html, body, #root {
	height: 100%;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
